.DS_Store

/core_build
/experimental_build

/dpm_modules
/dpm_modules/*
/src/core/dpm_modules/
/src/core/dpm_modules/*
/src/core/dpm_modules
src/core/dpm_modules/
src/core/dpm_modules/*
src/core/dpm_modules
*/dpm_modules/*